#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
package_update: true
packages:
- python-minimal
ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDsBhelq2Y9w2DBglDCiFnF9ViCiBEPMiGQBbhkkFPeO12/P5lg1ZJz+CzxS3f5hmoIHLX0LPvqL9Rl2geCuYGSWuYikSL4P3Dtx271n5gUcwZZqhuReM4hdoBmR7XxKmAM/+SJw0jww+7Rq/Ds0+wDAj+wNc1RczI5C2wZ6ydML2RM6IaA14LS8eYTeQyF5FkF9Bcs2lvcnCALADDdbwK8S0I9ivm8mg0bvu2sApHUs3hyCuybpi1cxTsl9HshwsNLWb8tP1f9Dci/c+35iRc3n4OzYdKgMrcZhNlGk90Yv/7wX+j39VmAz1gfg86sIQ7hCV/bFpgNzBnJNqp678zl
